* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    height: 100%;
}

.material {
    padding: 10px 20px;
    border: 2px solid rgba(76, 175, 80, 0.5); /* Contorno verde translúcido */
    border-radius: 8px;
    background-color: rgba(76, 175, 80, 0.1); /* Preenchimento verde claro translúcido */
    color: #333;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    margin: 5px 0;
}

/*
.material:hover {
    background-color: rgba(76, 175, 80, 0.2); /* Preenchimento mais intenso ao passar o mouse 
    border-color: rgba(76, 175, 80, 0.8);  Contorno mais forte ao passar o mouse 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Sombra leve ao passar o mouse 
}
*/

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}




main {
    padding: 20px;
    background-color: white;
    max-width: 1200px;
    width: 90%;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.eco-pontos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: 100%;
    max-width: 350px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-10px);
    background-color: #e0ffe0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.header-content img.lugar {
    margin-right: 10px;
}

@media (min-width: 768px) {
    section {
        width: 45%;
    }
}

@media (min-width: 992px) {
    section {
        width: 30%;
    }
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #3e8e41;
    color: white;
    width: 100%;
    margin-top: auto;
}



.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.header-content a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.header-content a:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reset {
    color: white; /* Defina a cor desejada */
    text-decoration: none;
}

/* Estilo para o link quando já visitado */
.reset:visited {
    color: white; /* Mantém a mesma cor após ser visitado */
    text-decoration: none; /* Mantém o estilo do texto */
}

header {
    background-color: #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}

header h1 {
    font-size: 36px;
    color: white;
    margin-left: 1px;
}

header ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header ul li a:hover {
    text-decoration: underline;
}

.accordion-header {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.accordion-header:hover {
    background-color: #45A049;
}

.accordion-content {
    display: none;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #4CAF50;
}
.logo{
    width: 119px;
    height: auto;
    z-index:10;
    position: fixed; /* Posiciona a logo dentro do header */
    bottom: -25px;
    left: 10px; 
}

.dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo para o conteúdo do menu suspenso */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
}

/* Exibir o conteúdo quando o botão for clicado */
.show {
    display: block;
}

/* Estilo para os checkboxes dentro do menu */
.dropdown-content label {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 5px;
}

.filter-container {
    margin: 10px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.filter-select {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border: 2px solid #4CAF50; /* Cor do tema do Planeta Agente */
    border-radius: 8px;
    font-size: 16px;
    background-color: #F4F4F4; /* Fundo neutro */
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none; /* Remove estilo padrão */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 4 5%22%3E%3Cpath fill%3D%22%234CAF50%22 d%3D%22M2 0L0 2h4zm0 5L0 3h4z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
}

.filter-select:focus {
    border-color: #66BB6A; /* Cor mais clara no foco */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

.filter-select option {
    padding: 10px;
    font-size: 16px;
}
