* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}

header h1 {
    font-size: 36px;
    color: white;
    margin-left: 1px;
}

header ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1; /* Permite que o conteúdo principal expanda e empurre o footer para o final */
    padding: 20px;
}

.section-title {
    background-color: #e7f3e7;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #4CAF50;
}

.collection-point {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    
}

.collection-point h3 {
    color: #4CAF50;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #3e8e41;
    color: white;
    width: 100%;
    margin-top: auto; /* Garante que o footer seja empurrado para o final da página */
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #45a049;
}

.reset {
    color: white; /* Defina a cor desejada */
    text-decoration: none;
}

/* Estilo para o link quando já visitado */
.reset:visited {
    color: white; /* Mantém a mesma cor após ser visitado */
    text-decoration: none; /* Mantém o estilo do texto */
}

/* Estilizando o select */
select {
    background-color: #4CAF50; /* Fundo verde, combinando com o tema do site */
    color: white; /* Texto branco para contraste */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none; /* Remove a borda padrão ao focar */
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 20px; /* Espaço entre o select e os elementos abaixo */
}



table{
    border: 1px solid rgba(94, 255, 0, 0.808);
    width: 80%;
    margin: auto;
    
    tr{
        border: 1px solid rgba(94, 255, 0, 0.74);
        text-align: center;
        td{
            border: 1px solid rgba(208, 255, 0, 0.74);
            
            
        }
    }
}

.bold{
    font-weight: bold;
}

.green-range{
    background-color: #59b846;
    
}

/* Estilizando a seta do select */
select::-ms-expand {
    display: none; /* Remove a seta padrão do select no Internet Explorer */
}

select:hover {
    background-color: #45a049; /* Sutil alteração de cor ao passar o mouse */
}

select:focus {
    background-color: #3e8e41; /* Cor mais escura ao focar no campo */
}

option {
    background-color: white; /* Fundo branco para as opções */
    color: #333; /* Cor do texto nas opções */
}

/* Estilos responsivos para mobile */
@media (max-width: 600px) {
    select {
        width: 100%;
        font-size: 14px; /* Tamanho do texto ajustado para telas menores */
    }
}

.button:visited {
    color: white; /* Mantém a cor branca original do texto */
    background-color: #4CAF50; /* Mantém o fundo verde original */
    border: none; /* Mantém o estilo da borda */
    text-decoration: none; /* Remove o sublinhado */
}


.logo{
    width: 119px;
    height: auto;
    z-index:10;
    position: fixed; /* Posiciona a logo dentro do header */
    bottom: -25px;
    left: 10px; 
}



