/* Estilos gerais */
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #3e8e41;
}

ul li {
    margin: 0 15px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: white;
    max-width: 1200px;
    width: 90%;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.eco-pontos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: 100%;
    max-width: 350px;
    text-align: left;
}

/* Efeitos de hover */
section:hover {
    background-color: #e8f5e9; /* Cor de fundo suave ao passar o mouse */
    border-color: #3e8e41;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}

.header-content img.lugar {
    margin-right: 10px;
}

@media (min-width: 768px) {
    section {
        width: 45%;
    }
}

@media (min-width: 992px) {
    section {
        width: 30%;
    }
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #3e8e41;
    color: white;
    width: 100%;
    margin-top: auto;
}

.reset {
    color: white; /* Defina a cor desejada */
    text-decoration: none;
}

/* Estilo para o link quando já visitado */
.reset:visited {
    color: white; /* Mantém a mesma cor após ser visitado */
    text-decoration: none; /* Mantém o estilo do texto */
}

.logo{
    width: 119px;
    height: auto;
    z-index:10;
    position: fixed; /* Posiciona a logo dentro do header */
    bottom: -25px;
    left: 10px; 
}